.container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

nav {
  margin-top: 20px;

  a {
    transition: all 0.2s ease;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    user-select: none;
    cursor: pointer;
  }

  a.active {
    font-weight: 600;
    text-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.1);
  }

  &.mobile{
    a{
      display: none;
    }
    a.active{
      display: block;
    }
    .menu-button{
      margin-top: 10px;
      text-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.2);
      transition: all 0.3s linear;
    }
    .menu-button:hover i{
      text-shadow: none;
      box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.1);
      background-color: rgb(250, 250, 250);
      padding: 3px;
      border-radius: 3px;
      transition: all 0.3s linear;
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 50;
  width: 60vw;
  height: 0;
  transition: height 0.1s ease-in;
  overflow: hidden;
}
.menu-opened{
  height: 20vh;
  overflow: auto;
  transition: height 0.1s ease-out;
}


@media (max-width: 550px) {
  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
