<div class="container">
  <nav *ngIf="!isMobile">
    <a
      [routerLink]="section.link"
      routerLinkActive="active"
      *ngFor="let section of sections"
      >{{ section.name }}
    </a>
  </nav>
  <nav *ngIf="isMobile" class="mobile">
    <ng-container *ngFor="let section of sections">
      <a
        [routerLink]="section.link"
        routerLinkActive="active"
        >{{ section.name }}
      </a>
    </ng-container>
    <div class="menu-button" (click)="openMenu()">
      <i class="bi bi-chevron-down"></i>
    </div>
  </nav>

  <div class="menu" [ngClass]="{'menu-opened':menuOpened}" data-aos="fade-down">
    <app-menu [sections]="sections" (menuOpened)="closeMenu()"></app-menu>
  </div>
</div>
