.description {
  display: flex;
  flex-direction: column;
  text-shadow: 0 0 14px rgba($color: #000000, $alpha: 0.5);

  .name {
    font-weight: 600;
    font-size: 30px;
    margin-left: 15px;
    letter-spacing: 15px;
  }

  .lastname {
    font-weight: 700;
    font-size: 100px;
    margin-left: 10px;
    letter-spacing: 20px;
  }

  .claim {
    text-align: right;
    font-weight: 300;
    font-size: 22px;
    margin-right: 18px;
  }
}

p {
  margin: 0;
  color: rgb(240, 240, 240);
}

@media (max-width: 550px), (max-height: 550px){
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    inline-size: 225px;

    .name {
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 15px;
      margin-left: 10px;
    }

    .lastname {
      font-size: 60px;
      letter-spacing: 15px;
      line-height: 55px;
    }

    .claim {
      font-size: 15px;
      text-align: center;
      margin-right: 0;
    }
  }
}

