.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  &--img{
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.75) saturate(0.8);
  }

  .scroll-down {
    position: absolute;
    bottom: 10px;
    font-size: 30px;
    color: rgb(240, 240, 240);
    text-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
  }
}

.principal {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .sections {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: 100%;
  }
}

@media (max-width: 550px) {
  .principal{
    .sections{
      padding: 20px;
    }
  }
}
