<div class="container">
    <div class="habilidades section">
        <h1>Habilidades</h1>
        <div class="separator"></div>
        <div class="habilidades--profesionales sub-section">
            <h3>Profesionales</h3>
        </div>
        <div class="habilidades--tecnicas sub-section">
            <h3>Técnicas</h3>
        </div>
    </div>
    <div class="idiomas section">
        <h1>Idiomas</h1>
        <div class="separator"></div>
        <div class="sub-section">
            <h3>Español</h3>
            <div class="lineado">
                <div class="lineado--activo"></div>
                <div class="lineado--activo"></div>
                <div class="lineado--activo"></div>
                <div class="lineado--activo"></div>
                <div class="lineado--activo"></div>
            </div>
        </div>
        <div class="sub-section">
            <h3>Inglés</h3>
            <div class="lineado">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="inactivo"></div>
            </div>
        </div>
    </div>
</div>

