$separator-color: #4B4B4B;

.container{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 30px;
    margin-bottom: 20px;

    h1,h3,p{
        margin: 0;
    }

    .section{
        display: grid;

        .separator{
            background-color: $separator-color;
            width: 40px;
            height: 3px;
            margin: 2px 0 10px 2px; 
            border-radius: 2px;
        } 
    }
}

@media (max-width: 550px){
    .container{
        width: 250px;
    }
}