<div class="container" data-aos="zoom-in">
    <section class="step-1" *ngIf="step === 0" data-aos="fade-up">
        <app-presentation></app-presentation>
        <div class="more">
            <button (click)="addStep()">Saber más</button>
        </div>
    </section>
    
    <section class="step-2" *ngIf="step > 0" data-aos="fade-down">
        <app-steps></app-steps>
        <div class="more">
            <button (click)="substractStep()">Volver</button>
        </div>
    </section> 
</div>
