.info{
    display: flex;
    align-items: center;
    justify-content: center;

    &--left{
        img{
            width: 200px;
            height: 200px;
        }
    }

    &--separator{
        background-color: rgba(0, 0, 0, 0.7);
        width: 3px;
        height: 100px;
        margin: 0 20px;
        border-radius: 2px;
    }

    &--right{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 500px;
        text-align: justify;
        
        h1,p{
            margin: 0 0 10px 0;
        }
    }
}

@media (max-width: 550px) and (min-height: 550px){
    .info{
        flex-direction: column;

        &--left{
            img{
                height: 150px;
                width: 150px;
            }
        }
        &--separator{
            background-color: rgba(0, 0, 0, 0.7);
            width: 75px;
            height: 3px;
            margin: 20px 0;
            border-radius: 2px;
        }

        &--right{
            width: 100%;
            align-items: center;
        }
    }
}

@media (max-height: 550px){       
    .info{
        &--left{
            img{
                height: 150px;
                width: 150px;
            }   
        }
    }
}