<div class="container" data-aos="zoom-in">
    <div class="section" data-aos="fade-up">
        <h1>Tecnologías</h1>
        <div class="separator"></div>
        <app-technologies></app-technologies>
    </div>
    
    <div class="section">
        <h1>Habilidades</h1>
        <div class="separator"></div>
        <app-skills></app-skills>
    </div>

    <div class="section">
        <h1>Idiomas</h1>
        <div class="separator"></div>
        <app-languages></app-languages>
    </div>
</div>
